body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#captureControls {
    margin-top: 20px;
    margin-left: 20px;
}

#canvasContainer {
    margin-top: 20px;
}

#canvasControls {
    margin-top: 20px;
    margin-left: 20px;
}

.label {
    color: white;
    margin-right: 10px;
}

.effectContainer {
    display: flex;
    flex-direction: row; 
    margin-bottom: 5px;
}

p {
    color: white;
}

.radio {
    margin-right: 10px;
}

#echoContainer {
    color: white;
    margin-left: 20px;
}

#speechContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#speech {
    width: 250px;
    word-wrap: break-word;
}

#speak {
    margin-left: 20px;
    padding: 5px;
    background-color: green;
}

#voicesContainer {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

#voicesSelect {
    margin-left: 10px;
}

.propContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}